/*
    ===================================================
    Icons
    ===================================================
 */
[class^="icon-"], [class*=" icon-"] {
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
}
